[Unit]
Description=Enable xsdb
After=dfx-mgr.service

[Service]
Type=notify
NotifyAccess=all
RemainAfterExit=yes
ExecStart=/usr/bin/xsdb
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
