[Unit]
Description=Enable xsdb
After=dfx-mgr.service rpm-autoload.service

[Service]
Type=forking
ExecStartPre=/usr/bin/wait_debug_uio
ExecStart=/usr/bin/xsdb
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
