[Unit]
Description=system_controller_app
After=xvc.service hw_server.service cs_server.service

[Service]
Type=forking
ExecStart=/usr/bin/system_controller.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
